<!-- % if site.standard_family == "ZGW" %}
  <div class="header">API's voor zaakgericht werken</div>
    <nav class="nav flex-column">
      <a class="nav-link active" href="https://vng-realisatie.github.io/gemma-zaken/" target="">Home</a>
      <a class="nav-link" href="https://vng-realisatie.github.io/gemma-zaken/productvisie/" target="">Productvisie</a>
      <a class="nav-link" href="https://vng-realisatie.github.io/gemma-zaken/standaard/" target="">Standaard</a>
      <a class="nav-link" href="https://vng-realisatie.github.io/gemma-zaken/ontwikkelaars/" target="">Ontwikkelaars</a>
      <a class="nav-link" href="https://vng-realisatie.github.io/gemma-zaken/themas/" target="">Thema's</a>
      <a class="nav-link" href="https://vng-realisatie.github.io/gemma-zaken/beheer/" target="">Beheer</a>
      <a class="nav-link" href="https://vng-realisatie.github.io/gemma-zaken/doorontwikkeling/" target="">Doorontwikkeling</a>
      <a class="nav-link" href="https://vng-realisatie.github.io/gemma-zaken/contact/" target="">Contact</a>
    </nav>
  </div>
% endif %} -->
{% for item in site.nav %}
	<div class="header">{{ item.title }}</div>
	<nav class="nav flex-column">
    {% if item.subnav %}
      {% include nav.html nav=item.subnav %}
    {% endif %}
  {% endfor %}
</nav>
