<div class="header">API's voor zaakgericht werken</div>
<nav class="nav flex-column">
  <a class="nav-link" href="https://melsk-r.github.io/gemma-zaken/" target="">Home</a>
  <a class="nav-link" href="https://melsk-r.github.io/gemma-zaken/productvisie/" target="">Productvisie</a>
  <a class="nav-link" href="https://melsk-r.github.io/gemma-zaken/standaard/" target="">Standaard</a>
  <a class="nav-link" href="https://melsk-r.github.io/gemma-zaken/ontwikkelaars/" target="">Ontwikkelaars</a>
  <a class="nav-link" href="https://melsk-r.github.io/gemma-zaken/themas/" target="">Thema's</a>
  <a class="nav-link" href="https://melsk-r.github.io/gemma-zaken/beheer/" target="">Beheer</a>
  <a class="nav-link" href="https://melsk-r.github.io/gemma-zaken/doorontwikkeling/" target="">Doorontwikkeling</a>
  <a class="nav-link" href="https://melsk-r.github.io/gemma-zaken/contact/" target="">Contact</a>
</nav>
