<div class="header">API's voor zaakgericht werken</div>
<nav class="nav flex-column">
  <a class="nav-link" href="https://melsk-r.github.io/gemma-zaken/" target="">Home</a>
  <a class="nav-link" href="https://melsk-r.github.io/gemma-zaken/productvisie/" target="">Productvisie</a>
  <a class="nav-link" href="https://melsk-r.github.io/gemma-zaken/standaard/" target="">API Standaarden</a>
  <a class="nav-link" href="https://melsk-r.github.io/gemma-zaken/beheer/" target="">Beheer/Doorontwikkeling</a>
  <a class="nav-link" href="https://melsk-r.github.io/gemma-zaken/contact/" target="">Contact</a>
</nav>
